.datePickerContainer {
  grid-area: datePicker;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding-right: 8px;
}

.datePicker {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: var(--title-font-size);
  line-height: 24px;
  color: var(--primary-color);
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  text-align: center;
}

.datePickerDatesWrapper {
  background:  var(--secondary-background);
  border:  var(--primary-border);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 16px;
  position: relative;
  box-shadow: 1px 1px 10px #000;
}

.datePickerDates .react-datepicker__header {
  background-color: red;
}

.arrow {
  cursor: pointer;
}

.arrow:hover svg {
  transition: 0.2s;
  fill: #fff;
  stroke: none;
}

.arrowNext {
  transform: rotate(180deg);
  display: flex;
  align-items: end;
}

.disabled {
  pointer-events: none;
}