.expenseList {
    overflow-y: auto;
    margin-right: -8px;
    grid-area: list;
}

.withScroll {
    overflow-y: scroll;
}

.expenseList::-webkit-scrollbar {
    width: 6px;
}

.expenseList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    border-radius: 10px;
}

.expenseList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 16px #C7D0D9;
    -webkit-box-shadow: inset 0 0 16px #C7D0D9; 
    height: 20px;
}

.notice {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: #C7D0D9;
    text-decoration: none;
}

.noticeContent {
    height: 50px;
    display: flex;
    align-items: center;
}

.addExpenseButton {
    margin: 10px auto;
}

.addExpenseButton svg{
    height: 50px;
    width: 50px;
}
