.addPage {
    width: 100%;
    display: grid;
    grid-template-areas: 
    'add total categories'
    'add chart categories';
    grid-template-columns: 30fr 50fr 20fr;
    grid-template-rows: 2fr 4fr;
    grid-gap: 8px;
    height: 100%;
}

.datePickerWrapper {
    grid-area: datePicker;
}

.form {
    grid-area: form;
}

.totals {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.catigories {
    padding-right: 8px;
}

@media (max-width: 1300px) {
    .addPage {
        grid-template-areas: 
        'add total categories'
        'add total categories';
        grid-template-columns: 12fr minmax(232px, 8fr) 10fr;
    }

    .chart {
        display: none;
    }

    .totals {
        flex-direction: column;
        overflow-y: scroll;
    }
    .total {
        margin-bottom: 16px;
    }
}

@media (max-width: 1023px) {
    .addPage {        
        grid-template-columns: calc((100vw - 66px) / 2) 232px calc((100vw - 66px) / 2);
        overflow-x: scroll;
    }
}



@media (max-width: 767px) {
    .addPage {        
        grid-template-columns: repeat(3, calc(100vw - 16px));
    }
}