.plug {
    display: flex;
    animation: bg 1.5s ease-in-out 0.5s infinite normal;
    border: none;
}

.rect {    
    width: 100%;
}

.l {
    height: 38px;
    margin-bottom: 16px;
}

.m {
    height: 30px;
    margin: 8px 0;
}
.s {
    height: 25px;
    margin-bottom: 2px;
}

@keyframes bg {
    0% {
        background: rgba(28, 30, 34);
    }
    50% {
        background: rgb(20,22,25,1);
    }
    100% {
        background: rgba(28, 30, 34);
    }
}