html {
  font-size: 16px;
}

body {
  color: #C7D0D9;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #0B0C0D;
}
